$white: #eeeeee;
$textColor2: $white;
$textColor1: #333333;
$gray2: #3f3f3f;
$lightgray: #e0e0e0;
$blue: #3d5afe;
$primaryBck:#072227;
$secondaryBck:#cccccc ;

// Background and letters stryle types
@mixin divWhite {
  color: $textColor1;
  background-color: $secondaryBck;
background-image: url("https://www.transparenttextures.com/patterns/connected.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@mixin divGreen {
  background-color: $primaryBck;
  color: $textColor2;
}

* {
  font-family: sans-serif;
  margin:0;
}

h3{
font-size: 1.2rem;

}
p{
    margin: 6px 0px;
}
a, a:hover{
  color:$textColor2
}
body {
@include divWhite;
}

.paddingContainer{
padding-top: 3vh;
padding-bottom: 3vh;

}

button span {
  pointer-events: none;
}



button {
  background-color: $lightgray;
  border-style: none;
  border-radius: 6px;
  padding: 0 32px;
  color: $gray2;
  box-shadow: 0px 2px 3px 0px #33333333;
}

button:hover,
button:focus {
  background-color: #aeaeae;
}

.navContainer{
@include divGreen;
padding-top: 1vh;
padding-bottom: 1vh;

}
.outline {
  border-style: solid;
  color: $blue;
  // background-color: $white;
}

.outline:hover,
.outline:focus {
  background-color: rgba(41, 98, 255, 0.1);
}

.text {
  border-style: none !important;
  color: $blue;
  background-color: transparent !important;
}

.text:hover,
.text:focus {
  border-style: none;
  color: $blue;
  background-color: rgba($color: $blue, $alpha: 0.15);
}

.disableShadow,
.disableShadow:hover,
.disableShadow:focus {
  box-shadow: none;
  // background-color: $blue;
  // color: $white;
}

.disabled, .disabled:hover, .disabled:focus{
  background: #E0E0E0 !important;
  color: #9E9E9E !important;
  box-shadow: none !important;
  border: none !important;
  cursor: not-allowed !important;
}


.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

//   Sizes Button
.sm {
  padding: 0px 16px;

}

.md {
  padding: 4px 32px;

}

.lg {
  padding: 8px 36px;

}

//Button Colors

.default {
  background: #e0e0e0;
  border-color: #2962FF;
}

.primary {
  background: #2962FF;
  color: #ffffff;
  border-color: #ffffff;
}
.secondary {
  background: #455A64;
  color: #ffffff;
  border-color: #ffffff;

}

.danger {
  background: #D32F2F;
  color: #ffffff;
  border-color: #ffffff;

}

.default:hover,
.default:focus {
  background: #aeaeae;
}

.primary:hover,
.primary:focus {
  background: #0039cb;
  color: #ffffff;
}
.secondary:hover,
.secondary:focus {
  background: #1c313a;
  color: #ffffff;
}

.danger:hover,
.danger:focus {
  background: #9a0007;
  color: #ffffff;
}


.footerContainer{

@include divGreen;
padding-top: 2vh;
padding-bottom: 2vh;
position: absolute;
// bottom: 0;
width: 100vw;
}